
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #007bff;
    color: white;
    padding: 12px;
    text-align: center;
}
.home {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}


header h1 {
    margin: 0;
    font-size: 36px;
}

/* Services Container */
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}

.service-card {
    background-color: white;
    padding: 20px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.service-card h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
}
